<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <!-- <div class="img-menu">
        <img src="./../../../assets/img/logo.png" alt="logo"/>
      </div> -->
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/formulaire">
        <mat-icon>description</mat-icon>
        <span>Formulaire</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/listePatient">
        <mat-icon>people</mat-icon>
        <span>Liste des Patients</span>
      </a>
      <!-- <mat-divider></mat-divider>
      <a mat-list-item routerLink="/ajouter">
        <mat-icon>person_add</mat-icon>
        <span>Ajouter un nouvel utilisateur</span>
      </a> -->
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/manageTicket">
        <mat-icon>support</mat-icon>
        <span>Ouvrir un billet</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <app-header [sidenav]="sidenav"></app-header>
<router-outlet></router-outlet>
</mat-sidenav-container>



