<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <!-- <div class="img-menu">
        <img src="./../../../assets/img/logo.png" alt="logo"/>
      </div> -->
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/formulaire" class="formulaire-link">
        <mat-icon class="icon-space">description</mat-icon>
        <span class="span-text">Formulaire</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/listePatient" class="formulaire-link">
        <mat-icon class="icon-space">people</mat-icon>
        <span class="span-text">Liste des Patients</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/ajouter">
        <mat-icon class="icon-space">person_add</mat-icon>
        <span>Ajouter un nouvel utilisateur</span>
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLink="/manageTicket" class="formulaire-link">
        <mat-icon class="icon-space">support</mat-icon>
        <span class="span-text">Ouvrir un billet</span>
      </a>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>
  <app-header [sidenav]="sidenav"></app-header>
<router-outlet></router-outlet>
</mat-sidenav-container>



