.nouveau-ticket-box , .list-ticket-box {
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  border-radius: 8px;
}

.nouveau-ticket-box {
  height: 100%;
  width: 100%;
}

.list-ticket-box {
  height: 100%;
  width: 100%;
}

/* .ticket-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: -1px 1px 20px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 30px;
  padding: 30px;
  background-color: #fff;
  color: green;
  width: 70%;

} */


.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
    --mdc-tab-indicator-active-indicator-color: #fff;
    --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.5);
    --mat-tab-header-pagination-icon-color: #fff;
    --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-active-label-text-color: #fff;
    --mat-tab-header-active-ripple-color: #fff;
    --mat-tab-header-inactive-ripple-color: #fff;
    --mat-tab-header-inactive-focus-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-inactive-hover-label-text-color: rgba(255, 255, 255, 0.6);
    --mat-tab-header-active-focus-label-text-color: #fff;
    --mat-tab-header-active-hover-label-text-color: #fff;
    --mat-tab-header-active-focus-indicator-color: #fff;
    --mat-tab-header-active-hover-indicator-color: #fff;
}