  <mat-toolbar color="primary">
    <div class="logo">
      <img src="./assets/img/logo.png" alt="logo"/>
    </div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="User Profile Icon" fontIcon="account_circle">
      </mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>
    </button>
    <span>{{userInfo.nom}}, {{userInfo.prenom }}</span>
  </mat-toolbar>