    <!-- <header>
        <div class="logo">
            <img src="logo.png" alt="Logo">
        </div>
        <div class="social-media">
            <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
            <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
        </div>
        <div class="login-icon">
            <a href="#"><img src="login-icon.png" alt="Login"></a>
        </div>
    </header> -->
<header>
        <div class="header-container">
            <div class="logo">
                <img src="path/to/your/logo.png" alt="Logo">
            </div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div class="header-buttons">
                <button class="login-btn">Authentifier</button>
                <button class="sign-up-btn">Enregister</button>
            </div>
        </div>
    </header>
