 <div class="login-container">
        <div class="login-box">
            <h2>{{ getLabel('TITLE_LOGIN_PAGE') }}</h2>
            <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
                <div class="input-group">
                    <label for="email">{{ getLabel('LABEL_EMAIL_LOGIN_PAGE') }}</label>
                    <input type="email" id="email" [placeholder]= "getLabel('PLACEHOLDER_EMAIL_LOGIN_PAGE')"  formControlName="email" required>
                      <div *ngIf="LoginForm.get('email')?.invalid && (LoginForm.get('email')?.dirty || LoginForm.get('email')?.touched)">
                        <div class="input-error" *ngIf="LoginForm.get('email')?.errors?.['required']">{{ getLabel('MESSAGE_EMAIL_LOGIN_REQUIS') }}</div>
                      </div>
                </div>
                <div class="input-group">
                    <label for="password">{{ getLabel('LABEL_PASSWORD_LOGIN_PAGE') }}</label>
                    <input type="password" id="password" [placeholder]="getLabel('PLACEHOLDER_PASSWORD_LOGIN_PAGE')" formControlName="password" required>
                      <div *ngIf="LoginForm.get('password')?.invalid && (LoginForm.get('password')?.dirty || LoginForm.get('password')?.touched)">
                        <div class="input-error" *ngIf="LoginForm.get('password')?.errors?.['required']">{{ getLabel('MESSAGE_PASSWORD_LOGIN_REQUIS') }}</div>
                      </div>
                </div>
                <div class="options">
                    <label>
                        <input type="checkbox" formControlName="remember"> {{ getLabel('TEXT_LOGIN_PAGE_REMEMBERME') }}
                    </label>
                    <a href="#" class="forgot-password "> {{ getLabel('TEXT_LOGIN_PAGE_FORGET_PASSWORD') }}</a>
                </div>
                <button type="submit" [disabled]="!LoginForm.valid">{{ getLabel('TEXT_LOGIN_PAGE_BUTTON_LOGIN') }}</button>
            </form>
            <div class="error-message">{{LabelErrorMessage}}</div>
        </div>
    </div>
