<div class="sidebar" id="sidebar">
    <nav>
      <ul>
        <li><a routerLink="/formulaire" routerLinkActive="router-link-active" >Formulaire Patient</a></li>
        <li><a routerLink="/listePatient" routerLinkActive="router-link-active" >Liste Patient</a></li>
        <!-- <li>Understanding Angular</li>
        <li>Developer guides</li>
        <li>Best practices</li> -->
        <li><a routerLink="/ajouter" routerLinkActive="router-link-active"> Ajouter un Utilisateur</a></li>
        <!-- <li>Tutorials</li>
        <li>Updates and releases</li> -->
        <li><a routerLink="/manageTicket" routerLinkActive="router-link-active">Gestion Billet</a></li>
      </ul>
    </nav>
</div>
