.sidebar {
    transition: transform 0.3s ease;
    transform: translateX(0);
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 65vh;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.sidebar.close {
    transform: translateX(-100%);
}



.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.sidebar nav ul li:hover {
    background-color: #f2f2f2;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar nav ul li a:hover {
    color: green;
}
